[2012-03-19 19:51] jaredmorrow opened #14 "Cert and Key are not being packaged in toplevel tarball / packages"
The documentation states that a default cert and key file should be installed, but they are not being put into the Riak tarball being packaged.   There are a couple of options that were discussed when this was first brought up:
1. Keep documentation as is and _fix_ this bug by properly packaging the cert and key files into the tarball
2. Remove default key and cert files entirely and change docume

[2012-03-22 14:33] massung opened #15 "Fix riak_control issue from mailing list"

[2012-04-26 15:38] cmeiklejohn opened #17 "MapReduce"
Add ability to run, define, save, and load MapReduce queries from the UI.

[2012-04-30 18:05] cmeiklejohn opened #19 "Replace pjax with newer version."
Replace pjax with newer version.  This will enable iPad support.

[2012-04-30 21:57] kenperkins opened #20 "Riak Control reports incorrect ring status with mixed version ring"
We're in the middle of upgrading from 1.0.3 to 1.1.2 and when you view Riak Control on one of the new machines, it's reporting that the cluster is unhealthy and x nodes are unreachable (those that are still the old version).

Needless to say this sent me into a panic that something about the rolling upgrade didn't work as expected.

[2012-05-23 19:47] cmeiklejohn commented on #15
Closed with #21

[2012-05-23 19:47] #15 closed, assigned to jgnewman

[2012-05-23 21:58] cmeiklejohn commented on #20
Looks like the problem here is related to the following chunk of code:

[code]

The RPC call is failing not because the node is unreachable, but because the 1.0.3 release does not include control therefore it's failing due to an undefined function.

Once I test and verify that is the case, it may be worth adding another state in the node and cluster views to show that a node is unavailable for adm

[2012-05-24 14:51] cmeiklejohn commented on #14
Updated the documentation for the time being.

[2012-05-24 15:09] cmeiklejohn commented on #19
closing.

[2012-05-24 15:09] #19 closed, assigned to nobody

[2012-05-24 16:32] cmeiklejohn commented on #20
Verfied this is the issue.  Seems like there are two approaches here:
1. Document this as a known issue when running riak nodes which do not include riak_control (pre 1.1.1)
2. Add an 'Incompatible' state in riak_control and explain in the UI why this is an issue.

[2012-06-06 16:01] derpston commented on #14
I think this issue is not particularly valuable as it doesn't make much sense to ship any certs with riak.

The bigger issue seems to be that riak control requires SSL, which I find pretty odd. Anyone running riak in production won't expose riak control to the open internet.

Requiring SSL (and even having the user generate a cert with a post-install helper script) seems to promote the idea that i

[2012-06-06 16:05] nathanaschbacher commented on #14
We were having a lively discussion on the IRC channel about whether or not it made any sense at all to _require_ SSL to use Riak Control.

We were trying to figure out what the use case was.  Almost certainly people don't have their clusters exposed directly to the internet, so SSL is only encrypting internal network activity.

That said, it makes sense that it should work over SSL.  Such that if

[2012-07-13 15:30] cmeiklejohn commented on #20
Closing.

[2012-07-13 15:30] #20 closed, assigned to nobody

[2012-07-21 21:54] tarnfeld commented on #14
I've recently been trying to get started configuring a riak cluster with the Chef cookbook, and before this the SSL certificates didn't pose a problem (though an annoyance). To me it seems kind of odd that the use of SSL is a _requirement_... I dont plan on having my riak nodes accessible via the web at all, and its a pain (I'm still trying to work out the best route) to distribute the certificate

[2012-08-01 21:01] cmeiklejohn commented on #14
I imagine one of the major drivers behind making Control accessible via SSL only was that the default authentication mechanism for Riak Control is HTTP Basic Auth.  If you were to be able to run Riak Control without the SSL-requirement, would you still be using the basic userlist authentication, or would you disable it?

[2012-08-01 23:44] derpston commented on #14
Disabled. In my opinion, any authentication is quite pointless in most environments. I can't imagine ever exposing any of these interfaces to anything but an internal management network.

[2012-08-07 21:01] cmeiklejohn opened #35 "Object Browsing"
TBD

[2012-08-22 15:18] cmeiklejohn commented on #35
Closing for now.

[2012-08-22 15:18] #35 closed, assigned to cmeiklejohn

[2012-08-22 15:18] cmeiklejohn commented on #17
Closing for now.

[2012-08-22 15:18] #17 closed, assigned to cmeiklejohn

[2012-08-22 17:25] cmeiklejohn commented on #14
@derpston @nathanaschbacher

Upon investigation in the code, it appears that if you set `{auth, none}` instead of `{auth, userlist}`, this will allow you to use Control on the specified http port without authentication.  However, as soon as you opt for authentication, SSL is forced.  Is this sufficient for your needs?

[2012-09-19 22:09] robotarmy opened #41 "This is totally awesome looking"
How can I help develop this?

[2012-09-19 22:14] PharkMillups commented on #41
:)
1. I'm sure @cmeiklejohn has some ideas on how you could help us out. He and a few others have been deep in the Control for a few months and I'm sure they would love your help.
2. If you happen to be in/around San Francisco, you can (and should) come to [RICON](http://basho.com/community/ricon2012/) next month. The entire Basho dev team will be there and I'm sure much Control hacking will be ha

[2012-09-20 23:34] robotarmy commented on #41
i'm trying to get some clearance on going to the RICON - i'm really excited and interested in riak for my work and forward.

[2012-09-22 01:04] cmeiklejohn commented on #14
Closing.  @derpston @nathanaschbacher let me know if you run into any other issues.

[2012-09-22 01:04] #14 closed, assigned to cmeiklejohn

[2012-09-22 01:05] cmeiklejohn commented on #41
Closing, @robotarmy and I will connect via email.

[2012-09-22 01:05] #41 closed, assigned to nobody

[2012-09-22 18:56] lemenkov commented on #41
Most awesome bugreport I've seen so far.

[2012-10-03 01:02] cmeiklejohn opened #43 "Non-SSL Control Broken"
Discovered through testing of #42, none of the operations work over HTTP, and generate 403 error responses most likely due to Origin header validation.

[2012-10-03 19:06] cmeiklejohn commented on #43
I've traced this to a cookie not being set for regular HTTP.

[2012-10-04 01:16] #43 closed, assigned to cmeiklejohn

[2012-10-09 21:07] simonvc opened #45 "SSL is required for Riak Control"
What's the thinking behind SSL being required for RC?

Given that RC is not widely used in production, but is quite useful for engineers who are new to riak (especially in a demo/pre-sales/initial investigation context) wouldn't it make sense to make SSL optional?

[2012-10-09 21:51] cmeiklejohn commented on #45
SSL is not required for Riak Control.  All you need to do is specify the auth_type as none in your `app.config` file.  If you require authentication, SSL is required as Basic Auth is not encrypted by default.

However, there was a bug in Riak Control's CSRF token handling for non-SSL connections when performing operations, and that fix is only currently on the master branch and will be included in

[2012-10-09 21:52] cmeiklejohn commented on #45
Feel free to reopen this issue if you have problems getting Riak Control configured.  Thanks!

[2012-10-09 21:52] #45 closed, assigned to cmeiklejohn

[2012-10-09 21:54] simonvc commented on #45
I'll work out how to update http://wiki.basho.com/Riak-Control.html to indicate that SSL is not required.

[2012-10-09 21:56] PharkMillups commented on #45
s/wiki/ http://docs.basho.com/

:)

Phark

On Tue, Oct 9, 2012 at 2:54 PM, simonvc notifications@github.com wrote:

[2012-10-09 22:00] cmeiklejohn opened #46 "Update Riak Control README with updated SSL information"
Update the README to show that SSL is not required.

[2012-10-09 22:00] cmeiklejohn commented on #45
I've opened #46 to track updating the README.

[2012-10-09 22:11] simonvc commented on #46
Help, not sure i did this right (still a bit of a github noob..)

https://github.com/basho/basho_docs/commit/ceb72ce0ea11a2c44e5ff1c525bec07c40aa86fa

[2012-11-13 18:47] slfritchie opened #47 "Undefined function call: admin_ring:node_ring_details/2"
The `admin_ring:node_ring_details/2` function is undefined.

[code]

[2012-11-13 20:34] cmeiklejohn commented on #46
I think this is all set.

[2012-11-13 20:34] #46 closed, assigned to nobody

[2012-11-13 20:34] cmeiklejohn commented on #47
Resolved.

[2012-11-13 20:34] #47 closed, assigned to cmeiklejohn

[2012-11-20 03:42] bluemont opened #49 "Clarification on Simpler SSL certificate process"
I don't do this sort of thing everyday. I found a much more concise guide -- does this look correct?

https://devcenter.heroku.com/articles/ssl-certificate-self

Then I put the files in /etc/riak and setup my config as follows (in addition to the other steps shown):

[code]

Does this look correct?

[2012-11-20 04:05] bluemont opened #50 "Unable to connect to Riak Control"
I've followed the directions on http://docs.basho.com/riak/latest/references/appendices/Riak-Control/. Now when I try to connect to `http://x.y.z.w:8069/admin` my browser times out. I have made the changes you suggest and I have opened port 8069 in my firewall. How do I debug this? I'm not seeing anything in the logs.

[2012-11-20 04:07] bluemont opened #51 "Correct paths for SSL in app.config?"
Your documentation says to use a relative path, with the `.` as shown below. Did you mean to suggest an absolute path, e.g. `/etc/riak/...`. What is correct?

[code]
- http://docs.basho.com/riak/latest/references/appendices/Riak-Control/
- https://github.com/basho/riak_control

[2012-11-20 04:50] bluemont commented on #50
I got it to work. I think the main problem was accidentally not using https. I'm also using port forwarding through the server.

[2012-11-20 04:50] #50 closed, assigned to nobody

[2012-11-20 04:51] bluemont commented on #49
The Heroku article worked well for me. My SSL config, above, worked too.

[2012-11-20 04:51] #49 closed, assigned to nobody

[2012-11-20 04:52] bluemont commented on #51
I use absolute paths and they work for me. I'd wager that relative paths will break things.

[2012-11-20 15:16] cmeiklejohn commented on #51
Relative paths work fine if you're using a rel, I believe the default configuration references the bitcask data in ./data, so it will be relative from the base application.

[2012-11-20 15:16] #51 closed, assigned to nobody

[2013-01-02 02:41] borestad opened #52 "Map/Reduce, objects and other items are disabled?"
Hi! I've just installed riak control, running it at a non-ssl developent machine.

If I'm using rekon as a gui, my buckets are showing up as they should, but with riak control, stuff is just disabled.

Riak 1.2.1 is installed with brew on my OSX 10.8.2

I've been trying to search in the documentation, and config files, but didn't find anything.
Is this a bug, or a feature that isn't implemented ye

[2013-01-04 03:52] cmeiklejohn commented on #52
Currently, the only implemented features of Riak Control are what's enabled in the UI right now.  This definitely has been a source of confusion, and because of that the next Riak release (and what's currently on master of Riak Control) has the additional disabled buttons removed.  I apologize for any confusion this might have caused!

In regards to querying, map/reduce and the like, we've decided

[2013-01-04 03:52] #52 closed, assigned to nobody

[2013-02-19 22:21] KevinBurton opened #56 "Conversion of certificate files"
The instructions include how to establish a certificate but the format seems to be .csr and .key not .pem as indicated elsewhere. Can I use these files as is? If not how can I convert them?

[2013-02-19 22:31] cmeiklejohn commented on #56
Following the instructions [here](http://www.akadia.com/services/ssh_test_certificate.html), the server.key and server.crt are the key and certificate file.  If the generated server.crt is in ASCII and not binary, that's what you want to use for the pem file.  The extension doesn't matter.

[2013-02-20 01:22] #56 closed, assigned to nobody

[2013-03-01 22:35] cmeiklejohn opened #60 "Standardize resource naming."
Convert all of the admin_ resources to follow the naming used in the other Basho repositories, ie: `admin_partitions` -> `riak_control_wm_partitions`.

[2013-03-01 22:35] cmeiklejohn opened #61 "Adding missing specs."
Many of the resource files in Riak Control are missing proper Erlang type specifications.

[2013-03-01 22:40] cmeiklejohn opened #62 "Properly document code for edoc."
To ensure the best possible documentation for Riak Control, go through and address places where the code doesn't properly use the `@doc` identifier.

[2013-03-01 22:41] cmeiklejohn opened #63 "JavaScript Testing Story"
Figure out a JavaScript testing story.

[2013-03-01 22:42] cmeiklejohn opened #64 "API for Cluster Management"
Architect an API for remotely managing the cluster through a REST interface.

[2013-03-01 22:42] cmeiklejohn commented on #64
In progress...

[2013-03-13 22:26] cmeiklejohn opened #66 "Determine overhead [JIRA: RIAK-1734]"
Determine what overhead running Riak Control has on a node introduces.

[2013-03-25 04:48] tmcgilchrist commented on #61
Is [admin_ui_resource.erl](https://github.com/basho/riak_control/blob/master/src/admin_ui_resource.erl) a good example of the Erlang type specifications you want?

[2013-03-25 08:38] cmeiklejohn commented on #61
Yes, that's one example.

[2013-03-25 20:23] tmcgilchrist commented on #61
Excellent. I'm just going through and filling in the missing type specs now.
I'll link a PR here when I have more of them done.

[2013-03-25 20:33] cmeiklejohn commented on #61
Sweet, thanks!

[2013-04-03 09:28] ricardobeat commented on #35
Is this going back into the roadmap someday?

[2013-04-03 14:57] cmeiklejohn commented on #35
Possibly, but not in the short-term.  At this point, we're more focused on providing administration of the cluster over the ability to browse objects.  I'm still not 100% sure what users are looking for in regards to object browsing -- are you looking for counting objects in buckets and seeing distribution of data or are you more interested in inspecting actual objects in the user interface?

[2013-04-04 02:06] ricardobeat commented on #35
In my case it would be useful to know rough bucket sizes (count and disk space), and be able to inspect objects during development (check data integrity). An interactive query runner like the one in RethinkDB would be great to have but not a deal breaker.

[2013-04-05 07:49] tmcgilchrist commented on #61
[PR here](https://github.com/basho/riak_control/pull/68)

[2013-04-05 16:47] cmeiklejohn commented on #35
Cool, do you mind opening individual issues for the items you're looking for?

[2013-04-08 14:24] cmeiklejohn commented on #64
Closing; this has been completed.

[2013-04-08 14:24] #64 closed, assigned to cmeiklejohn

[2013-04-11 17:54] seancribbs opened #74 "Cluster/partition list filter doesn't redraw correctly"
While testing #71, I flipped to the "ring" page and tried out the filters. If I switch to "Fallbacks" or "Handoffs" and then back to "All", the list re-filters properly but the dropdown selection does not redraw.

![Screen Shot 2013-04-11 at 10 54 21 AM](https://f.cloud.github.com/assets/1772/369129/e3edbefe-a2d0-11e2-83dd-12a2c4f05718.png)

[2013-04-11 20:33] cmeiklejohn commented on #74
Is there anyway you can record a video of this so I can see the error in action?

[2013-04-11 20:35] seancribbs commented on #74
Yep.

[2013-04-13 00:04] cmeiklejohn opened #75 "Tooltips"
Completely refactor tooltips to actually integrate through the Ember view system.

[2013-04-19 19:04] #60 closed, assigned to nobody

[2013-04-30 15:57] cmeiklejohn opened #82 "Join Node"
Fix some bugs when joining nodes:
1. Change text from Add Node to Join Node.
2. Use conditional text based on node count.
3. Clear out textfield when Join is clicked.

@cmeiklejohn @seancribbs @jgnewman

[2013-04-30 16:51] cmeiklejohn opened #84 "Update README"

[2013-04-30 16:52] cmeiklejohn commented on #82
Closing.

[2013-04-30 16:52] #82 closed, assigned to jgnewman

[2013-04-30 16:53] seancribbs opened #85 "Replace node can't select the joined node"
When attempting to replace a node, but you have only one node joining in the plan, the dropdown/select shows that node, but already selected.  Thus the change event doesn't get propagated when you attempt to select that node. It should probably have an empty option so that you can select it properly.

[2013-04-30 17:25] cmeiklejohn commented on #84
Closing.

[2013-04-30 17:25] #84 closed, assigned to nobody

[2013-05-04 22:10] cmeiklejohn commented on #85
Closing, as we've already merged a fix.

[2013-05-04 22:10] #85 closed, assigned to nobody

[2013-05-04 22:11] cmeiklejohn commented on #75
@jgnewman Can we just nuke these going forwards?  They are mostly pointless.

[2013-05-06 13:09] jgnewman commented on #75
OMG, YES, THANK YOU.  Will nuke today.

[2013-06-07 22:05] cmeiklejohn opened #92 "Multiple n_val"
Determine how we can make the ring availability ring handle display of multiple n_vals.

[2013-06-07 22:07] cmeiklejohn commented on #75
@jgnewman What happened with this?  Are they fully gone?

[2013-06-10 15:03] jgnewman commented on #75
Yeah man, they're dead and gone.

[2013-06-10 17:01] cmeiklejohn commented on #75
Closing.

[2013-06-10 17:01] #75 closed, assigned to jgnewman

[2013-06-10 17:02] cmeiklejohn commented on #74
We've kill this page completely in the lastest revision of master.  Closing.

[2013-06-10 17:02] #74 closed, assigned to nobody

[2013-06-10 17:07] cmeiklejohn commented on #66
@evanmcc Any advice on how to correctly perform this benchmark?

[2013-06-10 17:16] evanmcc commented on #66
I can run the perf suite against it with and without Control enabled, but I imagine it's going to get lost in the noise, and it'd have to wait until after 1.4 (would take about ~2 days).

Another idea might be to track the reductions that it generates on a long running cluster (it generally racks up more than anything else over time because nothing else in riak that does work tends to live a very

[2013-06-10 17:53] cmeiklejohn commented on #62
Fixed; some areas are still light in documentation but will be addressed as we continue development on the product.

[2013-06-10 17:53] #62 closed, assigned to nobody

[2013-06-10 19:29] cmeiklejohn commented on #63
I'm going to assign this one to you, @jgnewman.

[2013-06-10 19:31] cmeiklejohn commented on #66
I can run the perf sweet if you can point me in the right direction.

[2013-06-10 19:47] cmeiklejohn commented on #61
Closing, as I think we've got a majority of the code base covered.

[2013-06-10 19:47] #61 closed, assigned to nobody

[2013-06-10 21:24] cmeiklejohn opened #95 "Upgrade Ember.js"
Get us on a current version of Ember.js.  Adding @jgnewman.

[2013-06-25 15:34] dmitrizagidulin opened #96 "Node Details (Stats) page [JIRA: RIAK-1733]"
Feature request: Implement a Node Details (Stats) page, linked off of the Cluster Management page or the Cluster Snapshot page.
This would display as much detailed information about a particular node as we have available inside Riak (exposed via HTTP Status api and ‘riak-admin status’).
Preferential treatment (in terms of the UI) should be given to these stats: http://docs.basho.com/riak/latest/co

[2013-06-25 15:55] dmitrizagidulin opened #97 "Cluster Stats page [JIRA: RIAK-1732]"
Feature request: a Cluster Stats page, Nagios style. Display relevant Riak stats per node, but in table format, with the stats in rows and nodes in columns. Starting, for example, with the stats listed here:
http://docs.basho.com/riak/latest/cookbooks/Statistics-and-Monitoring/#Riak-Metrics-To-Graph

[2013-06-25 16:06] dmitrizagidulin opened #98 "Ability to see OS/Environment stats for each node [JIRA: RIAK-1731]"
Feature request: Add the ability to see key OS/Environment metrics from each node (for the individual Node Detail page (#96), and the Cluster Stats table (#97)).

See http://docs.basho.com/riak/latest/cookbooks/Statistics-and-Monitoring/#Systems-Metrics-To-Graph for stats to start with.

(Optionally interface with Ganglia/Nagios or other system metrics apps.)
- Disk usage is a special case, with s

[2013-06-25 16:27] dmitrizagidulin opened #99 "Keep and display time series of aggregated relevant node stats [JIRA: RIAK-1730]"
Add the ability to keep time series data and aggregates, for the Riak stats (#96 and #97) and OS stats (#98).
- Decide whether these stats are to be kept inside Riak, or outside, in the filesystem. (Probably use same mechanism that Riak CS uses to keep its stats).
- Decide on the aggregation mechanism (similar to RRD / Graphite)
- Display graphs of historical activity, for key stats
- Allow for .C

[2013-06-25 16:46] dmitrizagidulin opened #100 "Display disk usage stats (for each node, and for overall cluster) [JIRA: RIAK-1729]"
One of the most commonly asked customer questions is - how much disk space is my Riak cluster taking up?

On Cluster Snapshot page: display overall cluster disk usage (all backends). Bonus feature: estimate data set size (divide by the default n_val).

On Node Detail page: display disk usage by backend. Preferably also display pie graph of free space remaining on disk, bitcask usage, leveldb usage

[2013-06-25 16:55] dmitrizagidulin opened #101 "View/download app.config and vm.args files for each node [JIRA: RIAK-1728]"
User should be able to view on page, as well as download, the relevant config files for each node. (As a link, or a separate tab, off the Node Detail page (#96)).
- app.config
- vm.args

[2013-06-25 17:02] dmitrizagidulin opened #102 "View/download Riak logs for each node [JIRA: RIAK-1727]"
Add ability to view/download relevant logs for each node. (Error log, crash log, console log, etc).
Link to this from the Node Detail page (#96)

[2013-06-25 17:09] dmitrizagidulin opened #103 "SNMP trap management page (Riak EE only) [JIRA: RIAK-1726]"
Provide an SNMP trap management page (Enterprise only).
Graphical interface to set thresholds for the various SNMP traps that were implemented for 1.3 by Steve Vinoski (http://docs.basho.com/riakee/latest/cookbooks/SNMP-Counters/ ). These thresholds are currently set in the app.config and the relevant snmp config file, for each node.
It would be extremely helpful to be able to manage the threshold

[2013-06-25 17:18] dmitrizagidulin opened #104 "View/download a list of buckets with custom (non-default) properties [JIRA: RIAK-1725]"
Add ability to view (and download to a text file) the list of buckets with custom properties (ones that have search enabled, or custom N values, etc). (These are the ones currently stored in the ring files, gossiped around the cluster, etc). This is for use with logical cluster backup (so that users know which custom bucket properties to save).

For example, the Riak Data Migrator (https://github.

[2013-06-25 17:20] dmitrizagidulin opened #105 "Incorporate warnings from Riaknostic into Cluster Snapshot or Node Detail [JIRA: RIAK-1724]"
Incorporate warnings from Riaknostic http://riaknostic.basho.com/ into the Cluster Snapshot or Node Detail pages (which include warnings about atime usage, etc)

[2013-06-25 17:21] dmitrizagidulin opened #106 "Provide more details for ‘Low Memory’ error on Cluster Snapshot page [JIRA: RIAK-1723]"
Display more details for the ‘Low Memory’ error on the Cluster Snapshot page.

Currently: says ‘The following nodes are currently experiencing low memory:’ and lists the nodes.

Instead: Should provide the memory details (since we’re calculating them anyways) -- memory available to node, out of total Erlang memory.

[2013-06-25 17:26] dmitrizagidulin opened #107 "MDC Replication page (Riak EE only) [JIRA: RIAK-1722]"
Implement an MDC Replication page, giving MDC status and visualization of MDC connections (Enterprise only).
- Display whether or not Realtime and Full syncs are enabled.
- If realtime or full syncs are enabled per-bucket, list which buckets they’re enabled for

_Realtime sync_
- For Realtime sync, display stats/historical graphs of object queue size, dropped objects
- Display logs of which object

[2013-06-25 17:28] dmitrizagidulin opened #108 "Add notification for new Riak version availability"
Add notification for new Riak version availability. Possibly links to release notes for new version, download links, and How to Upgrade docs.

[2013-06-28 01:42] cmeiklejohn opened #109 "Broken back button."
Visiting http://host:port to see the various stats links at the root page of Riak and clicking one of the resources breaks the back button. @vinoski

[2013-06-28 01:43] cmeiklejohn opened #110 "Improper redirect with 0.0.0.0 hostname configuration"
Reported by @vinoski:

If you set the https hostname to 0.0.0.0 , which yes, is an error, the riak_control_security:https_redirect_loc/1 function blindly reads in the hostname from config and then tries to use it as the URL hostname. To see this error you have to start with http://host:port so it causes a redirect, and have auth set to something other than none, but note that 0.0.0.0 will work if

[2013-07-01 15:46] cmeiklejohn commented on #109
@vinoski Do you mean the back button doesn't return to the resource listing?  I think what you're seeing is that the resource goes into the main page of the single page application, and then is redirected to one of the application pages, so to get back to the resource page you need to hit back twice.  Can you confirm this is what you are experiencing?

[2013-07-01 16:07] vinoski commented on #109
@cmeiklejohn After clicking one of the admin links off the root page &mdash; let's say `admin_gui` &mdash; I get a warning page telling me the cluster is low on memory. If I hit the back button there, sometimes it works, sometimes it doesn't, and when it doesn't, it doesn't matter how many times I click it.

Then, from that warning page if I click the riak control cluster button, hitting the back

[2013-07-02 15:59] cmeiklejohn commented on #109
This is an unfortunate side effect about how this is implemented.  The default state immediately redirects to the snapshot state, so when you hit back, you immediately get forwarded.  The only solution here is to replace the default, or index, state with the snapshot code.  I'm not convinced that's the best solution, but is one possible solution to the problem.  Any ideas @seancribbs?

[2013-07-02 16:08] cmeiklejohn commented on #109
Not much we can do here, until we upgrade to a newer Ember in which this will be less of an issue.  Closing.

[2013-07-02 16:08] #109 closed, assigned to cmeiklejohn

[2013-07-02 17:24] cmeiklejohn commented on #108
I'm really not sure how we can provide this. @jaredmorrow

[2013-07-02 17:35] dmitrizagidulin commented on #108
The 'how' part is easier. For example, we can publish a JSON object of available versions at a basho.com url. And the app can periodically (sufficiently infrequently) poll the url, pull down the new structure, and check for new versions. The object would also include urls to downloads, docs, etc, as applicable.

They key question, I suppose, is - whether we should do this, and how to smoothly work

[2013-07-02 17:37] cmeiklejohn commented on #108
Yeah, I know this is trivial to implement on the Riak Control side.  I think you should coordinate with @jaredmorrow on how we would provide an API like this.

[2013-07-02 17:59] cmeiklejohn commented on #106
Strategy for implementing this: link to the node management page, and provide actual numbers, however, not in those huge tooltips we've previously used.

[2013-07-02 18:13] cmeiklejohn commented on #107
The major blocker here is to figure out how we can do conditional package building and dynamic addition/removal of items from the user interface based on which version you are running.

[2013-07-02 19:52] jaredmorrow commented on #108
Yeah I don't know how this would work out.  I would rather be in the chain where we publish to our apt/yum repos rather than my building process.

[2013-07-03 04:45] cmeiklejohn opened #113 "Ring Resize Visualization [JIRA: RIAK-1721]"
Prototype this with @jgnewman and @jrwest.

[2013-07-19 21:23] cmeiklejohn opened #116 "Yokozuna [JIRA: RIAK-1720]"
RAM usage display should account for Solr/Yokozuna instances.

[2013-07-20 02:44] ksauzz opened #117 "Riak node crashes during rolling upgrade from Riak 1.3.2 to Riak 1.4.0 if riak_control is enabled."
I'm not sure if riak_control should support rolling upgrade. So I just report what happened at a customer's Riak cluster (not production).

In rolling upgrade process from Riak 1.3.2 to Riak 1.4.0, riak_control's failure causes to crash a Riak node.

The workaround is to disable riak_control during rolling upgrade. I already added such note to rolling upgrade instruction in basho_docs.

It looks l

[2013-07-23 16:42] joedevivo opened #118 "Inaccurate node memory reporting"
I observed this running a single node of riak 1.4.0 on OS X.

The riak control nodes page told me that this node was using 100% of memory, and according to erlang, it is!

Here are some questions I asked my riak console about memory usage

[code]

I tried to attach a screen shot of my system's memory usage at the time, but it didn't work, so here's it typed in:

Free: 1.09 GB
Wired: 1.69 GB
Active

[2013-07-30 14:31] jplock commented on #117
Pull request #120 is looking to resolve this.  I ran into this issue as well.  Thankfully not in production.

[2013-07-31 13:06] ksauzz commented on #117
Exactly. I'm going to close this duplicate issue.

[2013-07-31 13:06] #117 closed, assigned to nobody

[2013-08-01 20:27] cmeiklejohn opened #124 "Port 1.4 compatibility changes to master."
Not a clean merge currently; ensure 1.4 compatibility changes get into master.

[2013-08-06 16:56] cmeiklejohn opened #127 ""Incompatible" language"
Must fix for 1.4 and master.

"Incompatible" language is confusing; it should be explicitly clear that the node is available for some operations, but some smaller subset will not be available.

[2013-08-06 16:58] cmeiklejohn opened #128 "Post-1.4.1 Upgrade Incompatible"
Must fox for 1.4 and master.

Post-upgrade, Riak Control is reporting all 1.4.1 nodes as incompatible.

[2013-08-06 18:06] cmeiklejohn commented on #128
Branch `csm-fix-capability-negotation` provides a fix for the incorrect capability negotiation for records.

[2013-08-06 18:34] cmeiklejohn opened #129 "Snapshot page race condition"
Must fix for 1.3, 1.4 and master.

The snapshot page has a race condition where bindings don't refire if the cluster is momentarily healthy when the page loads.

[2013-08-06 18:36] bearcage commented on #128
+1 on that as a fix for #128 -- I no longer see the issue on a clean devrel with that change applied. Thanks for the quick turnaround!

[2013-08-06 19:04] cmeiklejohn opened #130 "1.4.1 incorrect member_info record handling"
Must fix for 1.4 and master.

Triggered from viewing the ring page.

[code]

[2013-08-06 19:10] cmeiklejohn commented on #130
Branch `csm-fix-partition-badmatch` contains a fix for this error.

[2013-08-06 19:19] cmeiklejohn opened #131 "Inconsistent capability negotiation. [JIRA: RIAK-1719]"
Must fix for 1.4 and master.

Sometimes when starting a node, capabilities negotiation doesn't happen correctly.  For instance:

[code]

[code]

This causes one node to look like an earlier version of Riak Control and be reported as incompatible.

Here are the logs during startup:

[code]

[code]

Finally, two minutes later:

[code]

[2013-08-06 19:21] cmeiklejohn commented on #131
Tagging @rzezeski, @jtuple and @jonmeredith.

[2013-08-06 19:32] cmeiklejohn commented on #128
Also, cherry-picked fix into master/2.0 issue #126 as commit 06620d0.

[2013-08-06 19:35] cmeiklejohn commented on #124
This is addressed by #126.

[2013-08-06 19:35] #124 closed, assigned to engelsanchez

[2013-08-06 19:45] cmeiklejohn commented on #130
No need to patch forward to master, as that code has been removed in the master branch.

[2013-08-06 19:48] cmeiklejohn opened #134 "Verify member_info -> macro conversion"
Verify that all explicit pattern matches across versions 1.4.1 up to master use the record, and do not rely on an explicit record.

[2013-08-06 20:00] cmeiklejohn commented on #130
Closing.

[2013-08-06 20:00] #130 closed, assigned to nobody

[2013-08-06 20:02] cmeiklejohn commented on #134
1.4.1 looks good.

[2013-08-06 20:03] cmeiklejohn commented on #134
One occurrence found in master, which was addressed in pull #126, commit 756dde2.

[2013-08-06 20:05] cmeiklejohn commented on #134
Closing.

[2013-08-06 20:05] #134 closed, assigned to nobody

[2013-08-06 20:17] cmeiklejohn commented on #129
After applying previous bug fixes, I'm no longer able to reproduce this issue.  I'm going to try a bit longer, but it appears to have been resolved.

[2013-08-06 20:17] #129 closed, assigned to nobody

[2013-08-06 20:17] cmeiklejohn commented on #128
Closing, as #126 covers the backport.

[2013-08-06 20:17] #128 closed, assigned to nobody

[2013-08-06 20:20] cmeiklejohn commented on #131
The node also shows as incompatible in Riak Control for a short period if it's started and then has to negotiate up to the right capability.  To reproduce, start a node while watching the snapshot page of Riak Control.

[2013-08-06 21:12] cmeiklejohn commented on #92
Addressed by #114.

[2013-08-06 21:12] #92 closed, assigned to jgnewman

[2013-08-06 22:22] cmeiklejohn commented on #110
Addressed by open pull request #112.

[2013-08-06 22:22] #110 closed, assigned to cmeiklejohn

[2013-08-06 23:27] cmeiklejohn commented on #127
Closing as we have two open PRs tracking.

[2013-08-06 23:27] #127 closed, assigned to nobody

[2013-09-05 04:29] vanstee commented on #95
I'll give this a shot.

[2013-09-05 04:32] cmeiklejohn commented on #95
It's dangerous to go alone.

[2013-09-05 05:02] vanstee commented on #95
Does upgrading to `ember 1.0.0` and the latest `ember-data` beta sound good?

[2013-09-05 14:08] cmeiklejohn commented on #95
Tracking in #143.  Closing.

[2013-09-05 14:08] #95 closed, assigned to jgnewman

[2013-09-06 06:13] vanstee opened #144 "Cluster plan commit confirmation raises error"
If the checkbox below is left unchecked, a javascript error is raised instead of an error message being shown.

![image](https://f.cloud.github.com/assets/228734/1094015/db094944-16ba-11e3-8f80-36d2e554759c.png)

[2013-09-06 06:15] vanstee opened #145 "Nodes show NaN% memory usage on cluster view"
Not sure if this has to do with running on OS X or Riak 1.4.1 but the following shows up for each node in the cluster view:

![image](https://f.cloud.github.com/assets/228734/1094039/ae82fd38-16bb-11e3-9e97-31a39a135280.png)

[2013-09-06 14:12] cmeiklejohn commented on #145
You see this behavior currently?  What version of Riak are you running?

[2013-09-06 17:13] cmeiklejohn commented on #145
I've just built the develop branch of riak_control and can not reproduce this issue on Mac OS X Mountain Lion.

[2013-09-06 17:13] cmeiklejohn commented on #145
Oh, I see.  You're running 1.4.1.  1.4.2/develop contains a bug fix which resolves this.  Closing.

[2013-09-06 17:13] #145 closed, assigned to nobody

[2013-09-06 17:28] cmeiklejohn commented on #144
Opened PR for review.

[2013-09-06 17:28] #144 closed, assigned to nobody

[2013-09-06 17:36] vanstee commented on #145
Cool just confirmed that. My bad.

[2013-09-06 20:41] jgnewman opened #148 "Add Loading Indicators"
As of now, data displayed on pages loads lazily meaning that for a short moment after transitioning into a state, elements are missing. This makes the app feel glitchy. We need to put loading indicators on each page that will disappear once all elements are ready.

[2013-09-06 20:41] cmeiklejohn commented on #148
This should be targeted for the Friday following next.  Should be straightforward.

[2013-09-06 23:24] engelsanchez opened #149 "Generated templates.js interfering with rebar update"
I'm not sure of the details, but I keep getting this message when running rebar update from top riak all of the time now. It seems we are generating a file on top of a checked in file:

From git://github.com/basho/riak_control
   5b00a2e..daf4550  develop    -> origin/develop
error: Your local changes to the following files would be overwritten by checkout:
    priv/admin/js/generated/templates.js

[2013-09-06 23:26] cmeiklejohn commented on #149
Addressed by #150.

[2013-09-06 23:26] #149 closed, assigned to nobody

[2013-09-10 17:04] vanstee commented on #148
Once #143 is merged, using the built-in `LoadingRoute` should make this pretty painless.

[2013-09-12 12:48] vanstee commented on #63
Any direction you wanted to take this one? Figured it would be worth trying to use the `ember-testing` stuff with `qunit` and some fixtures to mock out requests. Still not exactly sure what kind of runner we can use to execute the tests. Might not be too bad to roll our own.

[2013-09-12 12:51] vanstee commented on #116
Any ideas on how to grab memory usage from the Solr process? If we can get our hands on the port, or better yet the OS pid, it would probably be pretty straight forward. Since `riak_control` doesn't depend on `yokozuna`, I wasn't sure how to go about accessing it though.

[2013-09-12 14:03] cmeiklejohn commented on #63
I really know nothing at this point about testing Ember apps outside of some basic testing I have in ember-visualizations.  I say get the tests together so we can run them via qunit on a webpage and we'll figure out how to wire it into the appropriate testing process.

[2013-09-12 14:15] vanstee commented on #63
Cool. I'll give that a shot. Maybe I'll just start with a few happy path integration tests.

[2013-09-18 15:35] cmeiklejohn opened #156 "Explore making redirect on non-ssl optional"
From Guido:

Now it is working, maybe to be added to a wish list, a flag to
"enforce_secure_transport" and by default be true, I'm quite sure many
users use SSH tunnels for those things, no point on loading certificates
and stuff if your servers are well protected and there is a different
transport for sensitive information.

Regards,

Guido.

[2013-09-18 15:46] guidomedina commented on #156
Thanks, the analogy behind this is; say you have servers locally and the nodes in the cloud, between local servers and the cloud there are SSH tunnels, you still want a sort of admin password so locally people don't just get granted access Riak control/admin without forcing the admins to create certificates and SSL configuration in general for Riak control, such flag would nicely do this job, be b

[2013-09-30 18:08] cmeiklejohn commented on #118
According to what you've put above, it appears that allocated and total used memory is being reported correctly.  Here's the caveat, free_memory is described as "The amount of free memory available to the Erlang emulator for allocation," which is not necessarily how much free memory is available in the system.  Tagging @vinoski and @slfritchie to confirm.

[2013-09-30 18:11] cmeiklejohn commented on #118
Also, see the note in the memsup docs: "On linux the memory available to the emulator is cached_memory and buffered_memory in addition to free_memory."

[2013-10-01 01:26] slfritchie commented on #118
The os_mon app gets its stats from the OS.  The memory free stats from Linux are notorious for questions/complaints: it reports only 100% free memory pages, not sitting-in-the-page-cache-and-can-be-reclaimed-at-any-time pages which are effectively free/available for allocation but aren't accounted for that way.  Other OSes vary in their various varieties.

[2013-10-01 17:57] jgnewman commented on #118
@cmeiklejohn I'm pretty sure this is the issue.  My first thought was that, since we have the option of using `system_total_memory` (which is "the amount of memory available to the whole operating system"), we could calculate an accurate amount of free memory with this:

[code]

But there are at least 2 potential problems with that:
1. Just because the Erlang emulator may not be using all of the `

[2013-10-01 21:49] cmeiklejohn commented on #118
@jgnewman Have you tested os_mon directly to see if the errors are observed there?  If so, I'm :+1: on removing the memory usage if we are unable to display it accurately.

[2013-10-02 15:39] jgnewman opened #162 "Riak Control cannot connect to the browser via https"
I upgraded to recent versions of the develop branch for both Riak and Riak Control on 10/1/2013 and could no longer get Riak Control to connect to the browser with auth enabled.

Chrome throws the following error:

Error code: ERR_SSL_CLIENT_AUTH_SIGNATURE_FAILED

[2013-10-02 18:12] jgnewman commented on #118
@cmeiklejohn

When I test os_mon directly inside an erlang shell that is not associated with Riak Control in any way, memsup reports roughly the same numbers reported by Riak Control with a difference of only a few bytes. In every test I do, `total_memory` and `total_system_memory` are the same. I assume that's because the application, by default, is allowed to draw from the overall pool of system

[2013-10-02 19:41] #162 closed, assigned to nobody

[2013-10-02 19:41] cmeiklejohn commented on #162
Resolved.

[2013-10-02 19:42] cmeiklejohn commented on #148
Closing; this was resolved by #151.

[2013-10-02 19:42] #148 closed, assigned to jgnewman

[2013-10-02 20:34] cmeiklejohn opened #163 "riak_test for authenticated user"
Ensure we have riak_test coverage for authenticated users.

[2013-10-02 21:38] cmeiklejohn commented on #118
We're tracking this issue in erlang/otp#92.

[2013-10-07 23:21] cmeiklejohn commented on #163
I should have something together for this hopefully tomorrow.

[2013-10-07 23:21] #156 closed, assigned to nobody

[2013-10-11 10:37] cmeiklejohn commented on #163
This should be covered by basho/riak_test#412.

[2013-10-11 10:37] #163 closed, assigned to nobody

[2013-10-11 10:46] cmeiklejohn commented on #63
Resolved.

[2013-10-11 10:46] #63 closed, assigned to jgnewman

[2013-10-11 11:11] cmeiklejohn commented on #108
I'm closing this; there is no plans to support anything like this at the moment as this is a much bigger infrastructure question.

[2013-10-11 11:11] #108 closed, assigned to jaredmorrow

[2013-10-25 20:32] jgnewman opened #170 "Dropdown for Replace Node not populating correctly."
Selecting a node from the replacements dropdown results in the following and causes an error when you try to commit the changes:

![screen shot 2013-10-25 at 4 29 24 pm](https://f.cloud.github.com/assets/856964/1411263/76bfc2d0-3db4-11e3-922c-aace30650403.png)

[2013-10-25 22:38] #170 closed, assigned to jgnewman

[2013-10-27 10:59] sideshowcoder opened #172 "HTTPs Certificate problem with riak_control / riak development branch"
I tried to get riak_control working for development purposes, using the riak/develop and the riak_control/develop branches.

I followed the [wiki](https://github.com/basho/riak_control/wiki/Getting-Started-With-Development) to setup the my dev environment and used riak.conf to configure https connection. When I access the _https://localhost:8069/admin_ I get `Error code: sec_error_invalid_key` in

[2013-10-27 18:14] cmeiklejohn commented on #172
Are you using a self-signed certificate?

[2013-10-27 18:47] cmeiklejohn commented on #172
Talked to Philipp on IRC; he is and this is a know bug in Erlang/OTP R16B02 that we're actively working on patching.

[2013-10-27 18:47] #172 closed, assigned to nobody

[2013-10-27 18:58] sideshowcoder commented on #172
Works after recompiling with R15B01.

[2013-11-11 17:14] cmeiklejohn opened #173 "Integrate Riak security for 2.0. [JIRA: RIAK-1718]"
Couple thoughts here:
- Authentication replaced with Riak Security role.
- Viewing and administering roles.

[2014-03-24 20:17] cmeiklejohn commented on #106
Moving to 2.1.

[2014-03-24 20:18] cmeiklejohn commented on #173
Moving to 2.1.

[2014-03-24 20:18] cmeiklejohn commented on #131
Moving to 2.1.

[2014-03-24 20:19] cmeiklejohn commented on #118
This issue was resolved and merged into OTP and is patched in our version of Erlang/OTP.

[2014-03-24 20:19] #118 closed, assigned to nobody

[2014-03-24 20:22] joedevivo commented on #118
awesome. way to go @cmeiklejohn

[2014-04-16 14:31] seancribbs opened #179 "Userlist configuration is very ambiguous"
In the default riak.conf:

[code]

If I am to change the username, it is unclear which section of the key needs to be tweaked because it says "user" twice.

Suggested solutions:
- Wrap the sample username in angle brackets, e.g. `<user>`.
- Change the first "user" to "userlist"

[2014-04-21 20:36] seancribbs commented on #179
/cc @joedevivo @jmshoffs0812 @angrycub

[2014-04-22 07:25] cmeiklejohn commented on #179
This isn't tagged with a cabal, who is picking it up? cc: @kellymclaughlin @jonmeredith

Considering this should use the new Riak security features, I would say just rename the section to userlist and not user for the RC and we can look at security work for 2.1.

[2014-04-22 21:13] angrycub commented on #179
Personally I'm a fan of guillemots for indicating substitutions.  `«user»` but that's just making the shed green.  I definitely agree on the need for the shed. :smile:

[2014-04-22 21:33] angrycub commented on #179
Just remembered the context for user.user.  The original default Riak control user's name is "user"   If we change that to something like "admin" then the default becomes

[code]

Could we agree that a username that isn't "user" solves this issue?

[2014-04-22 21:34] cmeiklejohn commented on #179
That solution also works; wanna make a PR?

[2014-04-22 21:34] angrycub commented on #179
Will do, @cmeiklejohn

[2014-04-24 11:02] #179 closed, assigned to nobody

[2015-04-15 20:42] DSomogyi commented on #173
Comment for Jira.

[2015-04-15 20:42] DSomogyi commented on #131
Comment for Jira.

[2015-04-15 20:43] DSomogyi commented on #116
Comment for Jira.

[2015-04-15 20:43] DSomogyi commented on #113
Comment for Jira.

[2015-04-15 20:43] DSomogyi commented on #107
Comment for Jira.

[2015-04-15 20:43] DSomogyi commented on #106
Comment for Jira.

[2015-04-15 20:43] DSomogyi commented on #105
Comment for Jira.

[2015-04-15 20:43] DSomogyi commented on #104
Comment for Jira.

[2015-04-15 20:44] DSomogyi commented on #103
Comment for Jira.

[2015-04-15 20:44] DSomogyi commented on #102
Comment for Jira.

[2015-04-15 20:44] DSomogyi commented on #101
Comment for Jira.

[2015-04-15 20:44] DSomogyi commented on #100
Comment for Jira.

[2015-04-15 20:44] DSomogyi commented on #99
Comment for Jira.

[2015-04-15 20:44] DSomogyi commented on #98
Comment for Jira.

[2015-04-15 20:44] DSomogyi commented on #97
Comment for Jira.

[2015-04-15 20:45] DSomogyi commented on #96
Comment for Jira.

[2015-04-15 20:45] DSomogyi commented on #66
Comment for Jira.

[2015-04-16 18:28] Basho-JIRA commented on #131
This needs verification, perhaps with a riak_test. I have doubts that if capabilities were really broken in this way, we wouldn't have seen this pop up more in other scenarios.

**_[posted via JIRA by Sean Cribbs]**_

[2015-08-05 08:20] phifty opened #188 "Make the web app independent from the root path [JIRA: REX-79]"
Hi all,

I could be wrong, but it seems that riak control needs to be accessed at the root path "/". I would like to run it behind a reverse proxy that maps it under /riak or similar. This does not work currently :-(
So independence from the base url would be a useful feature or at least a configurable base url.

Best regards,

[2015-10-16 20:36] Basho-JIRA commented on #188
Fixed in https://github.com/basho-labs/riak_explorer/issues/78

**_[posted via JIRA by Dmitri Zagidulin]**_

[2015-10-16 20:38] dmitrizagidulin commented on #188
Er, wait, this was fixed for Explorer, not for Riak Control specifically... (Since this ticket somehow made it onto our backlog in Jira.) Reopening.

[2015-12-10 21:34] Basho-JIRA commented on #101
Tested, working as expected.

**_[posted via JIRA by Dmitri Zagidulin]**_

[2015-12-10 21:34] #101 closed, assigned to drewkerrigan

[2015-12-10 21:39] Basho-JIRA commented on #101
Whoops, the 'tested' comment above was for the effective config ticket. Re-opening.

**_[posted via JIRA by Dmitri Zagidulin]**_

[2017-01-31 18:18] mdaiter opened #200 "Web machine breaks with custom riak_core app."
Getting errors when linking this to a current custom `riak_core` application. Currently, this is reported with a 500 error when attempting to access my admin page.

`{error,
    {error,undef,
        [{index_dtl,render,
             [[{csrf_token,
                   "Qjggzctep3_NC0m9L5IEfJiN-3sOFaQni5aCOE8eniWf5rMeMdWm2KKS1YmZh1YbOhOcqhaGKa418KrcHuveAhRG5u7GkBp7xvfMRE5VpEv9xWJG7FMUkPeZdyD7hHtDlt60